.interior-design-circle {
  background-image: url('/images/interior_design_circle.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 172px;
  min-height: 200px;
  width: 18%;
  height: 7em;
  margin: 0.5em;
}
