.secondary-banner {
  margin-top: 70px;
  background-image: url('/images/main_banner_background_mage_secondary_pages.png');
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}