$yellow: #eace16;

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  position: fixed;
  background-color: white;
  width: 100%;
  max-width: 100%;
  top: 0;
  font-size: 20px;
  > div {
    width: 70%;
    a {
      text-decoration: none;
      transition: 300ms ease color;
      color: inherit;
      padding: 0 0.7%;
      &:hover {
        color: $yellow;
      }
      &:not(:first-child) {
        border-left: #eace16 dashed 1px;
        border-image-slice: 2;
      }
    }
    @media screen and (max-width: 730px) {
      display: none;
    }
  }
  > a {
    display: flex;
    align-items: center;
    img {
      width: 2em;
      padding: 0.2em;
    }
  }
  ul {
    display: flex;
    padding: 0;
    li {
      list-style: none;
      display: flex;
      align-items: center;
      &:nth-child(1) a {
        margin-right: 2em;
      }
      a {
        text-decoration: none;
        transition: 300ms ease color;
        color: inherit;
        &:hover {
          color: $yellow;
        }
      }
    }
  }
}
