$rose: #f6f1f1;

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;

  background-color: $rose;
  @media screen and (max-width: 590px) {
    flex-direction: column;
  }
  a {
    text-decoration: none;
    color: inherit;
    &:hover {
      color: #9c6464;
    }
  }
}
